<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <property name="hibernate.dialect">com.example.proiect.dialect.SQLiteDialect</property>
        <property name="connection.driver_class">org.sqlite.JDBC</property>
        <property name="connection.url">jdbc:sqlite:Pharmacy.db</property>
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>


        <mapping class="com.example.proiect.model.Admin"/>
        <mapping class="com.example.proiect.model.MedicalPersonnel"/>
        <mapping class="com.example.proiect.model.Pharmaceutist"/>
        <mapping class="com.example.proiect.model.Medication"/>
        <mapping class="com.example.proiect.model.Order"/>

    </session-factory>
</hibernate-configuration>