#menu {
    display: table-cell;
    <!--display: table;-->
    <!--width: 70%;-->
}

#menu li {
    margin: 0;
    padding: 0;
    list-style: none;
    top: 0;
    height: 83px;
    <!--display: table-cell;-->
}

#image1 {
    left: 0px;
    width: 83px;
    background: url('ex4.png') 0 -84px;
}

#image1:hover{
    background: url('ex4.png') 0 0px;
}

#image2 {
    background: url('ex4.png') -84px -84px;
}

#image2:hover {
    background: url('ex4.png') -84px 0px;
}

#image3 {
    background: url('ex4.png') -169px -84px;
}

#image3:hover {
    background: url('ex4.png') -169px 0px;
}

#image4 {
    background: url('ex4.png') -252px -84px;
}

#image4:hover {
    background: url('ex4.png') -252px 0px;
}

#image5 {
    background: url('ex4.png') -336px -84px;
}

#image5:hover {
    background: url('ex4.png') -336px 0px;
}

#image6 {
    background: url('ex4.png') -420px -84px;
}

#image6:hover {
    background: url('ex4.png') -420px 0px;
}

#image7 {
    background: url('ex4.png') -504px -84px;
}

#image7:hover {
    background: url('ex4.png') -504px 0px;
}

#image8 {
    background: url('ex4.png') -588px -84px;
}

#image8:hover {
    background: url('ex4.png') -588px 0px;
}

#image9 {
    background: url('ex4.png') -670px -84px;
}

#image9:hover {
    background: url('ex4.png') -670px 0px;
}

#image10 {
    background: url('ex4.png') -756px -84px;
}

#image10:hover {
    background: url('ex4.png') -756px 0px;
}

#image11 {
    background: url('ex4.png') -840px -84px;
}

#image11:hover {
    background: url('ex4.png') -840px 0px;
}