html, body {
    width: 100%;
    height: 100%;
}

* {
    margin: 0;
}

.header, .main-div, .footer {
    display: flex;
    justify-content: left;
    align-items: center;
}

p.header {
    background-color: orchid;
    height: 20%;
}

ol.menu {
    float: left;
    background-color: hotpink;
    list-style-type: none;
    height: 60%;
    width: 15%;
    margin: 0;
    padding: 0;
}

.menu li {
    border: 2px solid black;
}

div.main-div {
    display: inline-block;
    background-color: lightpink;
    height: 60%;
    width: 85%;
    vertical-align: middle;
}

footer.footer {
    background-color: mediumvioletred;
    height: 20%;
}